.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
genotype_dir/
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
output/
results/
docs/assets/**/*.rds

**/.sos
